name: "Terraform destroy"

on:
  workflow_dispatch: 

jobs:
  terraform:
    name: "Terraform destroy"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Verify AWS creds
        run: aws sts get-caller-identity

      - name: Terraform Init
        run: cd 1-VPC && terraform init

      - name: Terraform Destroy
        working-directory: ./1-VPC
        run: terraform destroy --auto-approve